/* Color Palette
#071013 (Ink Black) - color 1
#984447 (Burnt Rose) - color 2
#9EC1A3 (Muted Teal) - color 3
#EEE0CB (Champagne Mist) - color 4
#7F7CAF (Lavender Gray) - color 5
#F0FFF0 (Honeydew) - color 6
*/

/* Global styles 
------------------------------------*/
/* border box fix */
html { 
    box-sizing: border-box;
}

*, *:before, *:after { 
    box-sizing: inherit;
}

.content-wrap { 
    max-width: 950px;
    margin: 0 auto;
    padding: 50px;

    overflow: hidden;
}

.column-narrow, .column-wide { 
    float: left; 
}

.column-narrow {
    width: 30%; 
    padding-right: 3%; 
    min-height: 175px;
}

.column-wide { 
    width: 70%; 
    min-height: 225px;
    
    padding-left: 3%;
    border-left: 2px solid #7F7CAF;
}

body {
    background: #EEE0CB;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;

    font-family: "Google Sans", sans-serif;
    color: #071013;
}

main { 
    margin: 0;
    padding: 0; 
}

ul { 
    list-style: none;
}

hr { 
    border: 2px solid #7F7CAF;
}

section h2, h3, h4, h5, pre { 
    color: #7F7CAF;
}

h1 { 
    font-size: 50px;
}

h2 {
    font-size: 35px;
    margin-top: 0;
}

h3 { 
    font-size: 25px;
    font-weight: medium;
}

h4 { 
    font-size: 20px;
    font-weight: normal;
}

h5 { 
    font-size: 18px;
}

pre { 
    color: honeydew;
    font-size: 15px;
}

a { 
    text-decoration: none;
}

p { 
    margin: 5px 0;
}

/* Header & Footer 
------------------------------------*/
.site-header, .site-footer { 
    background: #984447;
    color: honeydew;

    font-family: Monsterrat, sans-serif;
}

.site-header { 
    padding-top: 60px;
}

.site-header hr, .site-footer hr { 
    border: 0.5px solid #7F7CAF;
}

.contact-info a {
    padding: 10px; 
    display: inline-block;
}

.profile-img { 
    border-radius: 50%;
}

.display a { 
    color: #7F7CAF;
    border: 1px solid #071013;
    background-color: rgba(240, 255, 240, 0.7); 

    padding: 10px; 
    margin: 0 5px;
    font-size: 20px;
    border-radius: 10px;
    
    display: inline-block;
}

a.download { 
    border-style: dashed;
}

nav { 
    background: #EEE0CB;
    font-weight: bold;
    padding: 10px 15px;

    position: fixed;
    top: 0; 
    width: 100%;
    z-index: 10;
}

header, section, footer { 
    scroll-margin-top: 60px;
}

header { 
    border-bottom: 2px solid #7F7CAF;
}

footer { 
    text-align: center;
    border-top: 2px solid #7F7CAF;
    text-align: center;
}

footer ul p { 
    display: none;
}

header h1 { 
    margin: 0;
}

header h2 { 
    margin: 0; 

    font-size: 25px;
}

/* Projects & Education Sections
------------------------------------*/
.projects, .education { 
    margin: 0;     
}

/* Projects Section */
.projects {
    background: honeydew;
    border-bottom: 2px solid #7F7CAF;
}

/* Education Section */
.education { 
    color: honeydew;

    background-image: linear-gradient(rgba(7, 16, 19, 0.7), rgba(152,68,71, 0.8)), 
                      url(../images/CSUN.jpg);
    background-size: cover;
    background-position: left;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #071013;
}

.education h3, .projects h3 { 
    border-bottom: 1px solid #7F7CAF;
}

.major { 
    font-size: 22px;
}

/* Additional Styles 
------------------------------------*/
.fa-envelope, .fa-github { 
    font-size: 50px;
    color: honeydew;
    transition: color 0.3s;
}

i:hover, a:hover, a:hover h3 { 
    color: #9EC1A3;
}

.line-up { 
    display: inline-flex;
    flex-direction: row;
    padding: 0;
    gap: 20px;
}

.center {
    text-align: center;
}

.thin-line { 
    border: 1px solid #7F7CAF;

    margin: 0;
}

.date-box { 
    background: #7F7CAF;
    color: honeydew;

    display: inline-block;
    border-radius: 20px;
    padding: 0 10px;
}

/* Format for PDF Printing */ 
@media print {

    .site-header { /* Remove positioning and padding */
        padding-top: 0;
    }

    .content-wrap { 
        max-width: 100%;
        padding: 20px;
    }

    .education, .projects { /* Prevent page breaks inside education and project sections */
        break-inside: avoid;
    }

    body, .projects, .education, .site-header, .site-footer { /* Remove backgrounds */
        background: white !important;
        color: black !important;
    }

    nav { /* Hide nav */
        display: none;
    }

    article { /* Prevent page breaks inside articles */
        break-inside: avoid;
    }

    h2, h3, h4 { 
        break-after: avoid;
    }

    footer ul p { /* Show text for email & github account */
        display: block;
        font-size: 10px;
    }
}